---
BasedOnStyle: Microsoft
ColumnLimit: 79
UseTab: Always
PointerAlignment: Left
ReferenceAlignment: Left
#AlignAfterOpenBracket: Align
AlignOperands: Align
AllowAllArgumentsOnNextLine: False
AllowAllParametersOfDeclarationOnNextLine: False
BinPackArguments: False
BinPackParameters: False
BreakConstructorInitializers: AfterColon
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PenaltyBreakAssignment: 150
#PenaltyBreakOpenParenthesis: 100
SpaceBeforeCpp11BracedList: True
...
